.card__container {
  background-color: rgb(255, 255, 255);
  min-width: 250px;
  width: 100%;
  max-width: 650px;
  padding: 10px;
  margin: 28px;
  border-radius: 10px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.card__container h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post__image,
.main__image {
  width: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .card__container {
    margin: 20px 8px;
  }
}
