.nav__container {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}

.nav__item_container {
  overflow: hidden;
}

.nav__item_container img {
  transform: scale(1.7);
}

@media screen and (max-width: 400px) {
  .nav__container {
    padding: 0 10px;
  }

  .nav__container p {
    max-width: 100px;
  }
}
