.post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post__container {
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 20px;
}

.author__container,
.map__container {
  width: 48%;
}
