html,
body {
  padding: 0;
  margin: 0;
  font-family: "trebuchet MS", Arial, Helvetica, sans-serif;
  color: rgb(70, 70, 70);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* App */
.app__container {
  background-color: rgb(145, 156, 143);
}